<br><br><br>
<div class="container">
    <div class="table-responsive">
        <h2>Listagem de Usuários</h2> <br>
        {{#if deleted}}
            <span class="alert alert-success">{{deleted}}</span>
        {{/if}}
        <table class="table table-striped table-bordered table-hover table-sm">
            <caption>*Cuidado, aqui você não somente vizualiza com também, exclui e edita informações.</caption>
                <thead class="thead-ligth">
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each user}}
                        <tr>
                            <th>{{nome}}</th>
                            <th>{{email}}</th>
                            <td>
                                <a href="/api/usuario/edit/{{_id}}">
                                    <button  class="btn" style="background-color: #299028;">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <form action="/api/usuario/{{_id}}" method="POST">
                                    <input type="hidden" name="id" value="{{_id}}">
                                    <button type="text" class="btn" style="background-color: #ef2222;">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {{else}}
                        <p class="alert alert-danger">Nenhuma usuário encontrado</p>
                    {{/each}}
                </tbody>
        </table>
    </div>
</div>